.app{  
   font-family: "Manrope", sans-serif;
}
.hero_pattern{
 background-image: url('https://withdotta.com/images/bg-vectors/home-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 100vh; */
}
